#gameBoard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
    background: #fff;
    width: 80vmin;
    height: 80vmin;
}

.cell {
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

#btnShot {
    margin-top: 10px;
    padding: .5rem 1rem;
    width: 50px;
    border: 1px solid black;
    background-color: red;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}